<div class="slider">
	<div class="row">
		<div id="carousel">
			<div>
				<h2>Second Shooter</h2>
				<p>It's 12pm the Friday before your two-hundred guest wedding and the phone rings.  It's your second shooter, she's sick.</p>
			</div>
			<div>
				<h2>Fear Not</h2>
				<p>I have plans to make this a bad ass, animated slider.  But lo, I'm a noob and haven't gotten there yet.</p>
			</div>
			<div>
				<h2>So Awesome</h2>
				<p>We'll get you a second shooter in no time.</p>
			</div>
	</div>

</div><!-- slider -->

<div class="features">
	<div class="row">
			<div class="small-4 columns">
			<h3>Awesome Features</h3>
				<p>Bacon ipsum dolor sit amet porchetta tri-tip doner jowl short loin turducken, swine ham hock biltong pork chop turkey hamburger flank tenderloin leberkas. Strip steak pancetta shank, meatloaf brisket pork belly ball tip bresaola.</p>
			</div>
			<div class="small-4 columns">
			<h3>Awesome Features</h3>
				<p>Bacon ipsum dolor sit amet porchetta tri-tip doner jowl short loin turducken, swine ham hock biltong pork chop turkey hamburger flank tenderloin leberkas. Strip steak pancetta shank, meatloaf brisket pork belly ball tip bresaola.</p>
			</div>
			<div class="small-4 columns">
			<h3>Awesome Features</h3>
				<p>Bacon ipsum dolor sit amet porchetta tri-tip doner jowl short loin turducken, swine ham hock biltong pork chop turkey hamburger flank tenderloin leberkas. Strip steak pancetta shank, meatloaf brisket pork belly ball tip bresaola.</p>
			</div>
		</div>
	</div><!-- row -->
</div><!-- features -->

<div class="featured-photog">
<div class="row">
	<div class="small-12 columms text-center">
	<h2>Featured Photographer</h2>
				<% current_user = User.last %>
		<h2><%= link_to(current_user.first_name, user_path(current_user)) %></h2>
		<p><%= current_user.website %></p>
		<p><%= current_user.location %></p>
		<p><%= number_to_currency(current_user.hourly_rate) %>/hr</p>
	</div>
</div>
</div>

<%= javascript_include_tag "application" %>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#carousel').carouFredSel();                  
            });
      </script>