<div class="conatiner">
	<div class="row">
		<div class="col-md-3 col-md-push-4 col-sm-3 col-sm-push-4">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
			<h4 class="text-center">Log in with your email account</h4>
			<br />
				<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				 
				 <%= f.email_field :email, autofocus: true %>

				 <%= f.password_field :password, autocomplete: "off", :autofocus => 'true' %>

			  <% if devise_mapping.rememberable? -%>
			   <%= f.check_box :remember_me, :autofocus => 'true' %> 
			  <% end %>

				  <%= f.submit "Log in", :class => 'btn btn-primary' %>
				<% end %>
				
				<br />

				<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	  			<%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-primary" %>
				<% end -%>

		</div><!-- small-6 small-centered -->
	</div><!-- row -->
</div><!-- container -->

