<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1>The Blog</h1>

			<%= @post.each do |post| %>

			<h2><%= link_to(post.title, post_path(post)) %></h2>
			<strong><%= post.created_at.strftime("%b %d %Y | %l:%M %P") %></strong>

			<p><%= truncate(post.content, :length => 200) %></p>

			<% end %>

		</div><!-- col-md-6 -->
	</div><!-- row -->
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<%= link_to 'New Post', new_post_path %>
			</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->