<div class="conatiner">
  <div class="row">
    <div class="col-md-3 col-md-push-4 col-sm-3 col-sm-push-4">

      <%= bootstrap_form_for @message, :url => contact_path do |form| %>

        <%= form.text_field :name, :autofocus => 'true' %>  
      
        <%= form.text_field :email, :autofocus => 'true' %>
      
        <%= form.text_field :subject, :autofocus => 'true' %>

        <%= form.text_area :body, :autofocus => 'true' %>

        <%= form.submit "Send", :class => 'btn btn-primary' %>

      <% end %>

    </div><!-- small-6 small-centered -->
  </div><!-- row -->
</div><!-- container -->